/* Error: Undefined mixin.
 *    ,
 * 82 | /     @include touch {
 * 83 | |         overflow-x: auto;
 * 84 | \     }
 *    '
 *   components/_table.scss 82:5  @import
 *   _index.scss 35:9             @import
 *   test-import.scss 7:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 82 \2502  \250c      @include touch {\a 83 \2502  \2502          overflow-x: auto;\a 84 \2502  \2514      }\a    \2575 \a   components/_table.scss 82:5  @import\a   _index.scss 35:9             @import\a   test-import.scss 7:9         root stylesheet";
}
